/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
			========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* for all */
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 60.1%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* DESKTOP VERSION STARTS */

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f5945c;
  border-radius: 50%;
  margin-right: 5px;
}

.nav_heading {
  display: flex;
  align-items: center;
}

.nav_heading h1 {
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav_list {
  display: flex;
}

.nav_list li {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* list home item */
.nav-item-home {
  position: relative;
  padding: 35px 5%;
  background-color: #17a3d8;
  color: white; /* Adjust spacing as needed */
}

/* Adding lines to the left  */
.nav-item-home::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* Adjust width for each line */
  height: 10px; /* Thickness of the line */
  background-color: #1181ba; /* Line color */
}

.nav-item-home::after {
  content: "";
  position: absolute;
  bottom: 10px; /* Position triangle to sit right on the border */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid#1181ba; /* Triangle color */
}

/* blog item */

.nav-item-blog {
  background-color: #f5945c;
  padding: 5px 10px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #6dbfb8;
}
